<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Plugin" type="#org.jetbrains.idea.devkit.run.PluginConfigurationType" factoryName="Plugin" singleton="true">
    <module name="extlang" />
    <option name="VM_PARAMETERS" value="-Xmx512m -Xms512m -XX:MaxPermSize=400m -Didea.is.internal=true" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <alternative-path path="$PROJECT_DIR$/../../ideasrc/out/artifacts" alternative-path-enabled="false" />
    <log_file path="$USER_HOME$/.IdeaIC12/system/plugins-sandbox/system/log/idea.log" checked="false" skipped="true" show_all="false" alias="IDEA LOG" />
    <RunnerSettings RunnerId="Debug">
      <option name="DEBUG_PORT" value="" />
      <option name="TRANSPORT" value="0" />
      <option name="LOCAL" value="true" />
    </RunnerSettings>
    <RunnerSettings RunnerId="Run" />
    <ConfigurationWrapper RunnerId="Debug" />
    <ConfigurationWrapper RunnerId="Run" />
    <method />
  </configuration>
</component>